<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <h2>{{title}}</h2>
  <p>ISBN: {{ISBN}}</p>
  <p>Written by {{author}} </p>
  <p>
    <button class="btn btn-primary">Checkout {{title}}</button>
  </p>
</div>
