{{#each categories as |category|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h2>
        <a href="/api/categories/{{category.id}}">{{category.categoryName}}</a>
      </h2>
    </div>
  </div>
{{/each}}
