{{#each books as |book| }}
  <div class="card text-dark bg-light mb-3" >
    <div class="col-md-5">
      <h2>
        <a href="/book/{{book.id}}">{{book.title}}</a>
      </h2>
      <p>
        <span for="img" aria-label="money">Stock</span>
        <!-- Pass needed_funding value to the helper function -->
        <span class="dollar-amount">{{book.stock}}</span>
        available!
      </p>
      <p>Written by {{book.author}}</p>
    </div>
  </div>
{{/each}}
