
<div class="text-center">
  <h2>{{categoryName}}</h2>
  {{#each books as |book|}}
  <p> {{book.title}} </p>
  <p> {{book.author}} </p>
  <p> {{book.ISBN}} </p>
  <p>
    <button class="btn btn-primary">Checkout {{0.title}}</button>
  </p>
</div>
  {{/each}}
