<div class="text-center">
  <h2>{{categoryName}}</h2>
  <p> {{books.1.title}} </p>
  <p> {{books.1.author}} </p>
  <p> {{books.1.ISBN}} </p>
  <p>
    <button class="btn btn-primary">Checkout {{0.title}}</button>
  </p>
</div>

